<form #loginForm="ngForm">
	<h1>Login</h1>
	<p class="text-muted">Sign In to your account</p>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="icon-user"></i></span>
		</div>
		<input type="text" class="form-control" placeholder="Email" name="email" required [(ngModel)]="email"
			#emailRef="ngModel"
			[ngClass]="{'is-invalid': emailRef.invalid && emailRef.touched,'is-valid': emailRef.valid && emailRef.touched}"
			pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
	</div>
	<div class="input-group mb-4">
		<div class="input-group-prepend">
			<span class="input-group-text"><i class="icon-lock"></i></span>
		</div>
		<input type="password" class="form-control" placeholder="Password" name="password" required
			[(ngModel)]="password" #passwordRef="ngModel"
			[ngClass]="{'is-invalid': passwordRef.invalid && passwordRef.touched,'is-valid': passwordRef.valid && passwordRef.touched}">
	</div>
	<div class="row">
		<div class="col-6">
			<button type="button" class="btn btn-primary px-4" (click)="login()"
				[disabled]="loginForm.invalid">Login</button>
		</div>
		<div class="col-6 text-right">
			<button type="button" class="btn btn-link px-0">Forgot password?</button>
		</div>
	</div>
</form>
