<h1 mat-dialog-title>Add new Item</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)] = "data.title" placeholder="Title">
    </mat-form-field>
  </div>

  <div>
      <mat-form-field>
          <textarea matInput [(ngModel)] = "data.content" placeholder="Description"></textarea>
      </mat-form-field>
  </div>
 
  <div>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <mat-select [(ngModel)] ="data.color">
        <mat-option value="#fff">White</mat-option>
        <mat-option value="#12c934">Green</mat-option>
        <mat-option value="#f0e91d">Yellow</mat-option>
        <mat-option value="#f23427">Red</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions class="actions-buttons">
  <button mat-raised-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
