<h1 mat-dialog-title>Edit Project</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)] = "data.name" placeholder="Name" disabled="true">
    </mat-form-field>
  </div>

  <div>
    <table mat-table [dataSource]="userMapToArray()" class="mat-elevation-z8">

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button color="primary" mat-icon-button [disabled]="element.role === 'Owner'" (click)="deleteUserFomProject(element.uid)" >
            <mat-icon style="cursor: pointer">delete</mat-icon> 
          </button>
           
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
  </div>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)] = "userEmail" #emailRef="ngModel"
      [ngClass]="{'is-invalid': emailRef.invalid && emailRef.touched,'is-valid': emailRef.valid && emailRef.touched}"
      pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email" required>
    </mat-form-field>
    <button color="primary" mat-icon-button mat-raised-button (click)="addUserToProject()" [disabled]="emailRef.invalid">
      <mat-icon aria-hidden="false"  style="cursor: pointer">add</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-actions class="actions-buttons">
  <button mat-raised-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>

