<mat-drawer-container class="main-container" hasBackdrop="true" autosize>

  <mat-drawer #drawer class="sidenav" mode="over">
      <mat-nav-list>
          <mat-list-item>
              <a routerLink="">Home</a>
            </mat-list-item>
            <mat-list-item>
              <a routerLink="/demo">Demo</a>
            </mat-list-item>
            <mat-list-item>
              <a routerLink="/dashboard">Dashboard</a>
            </mat-list-item>
      </mat-nav-list>
  </mat-drawer>

  <div class="main-content">

      <mat-toolbar color="primary">
          <mat-toolbar-row>
            <button [ngClass]= "{'hidden': !(isHandset$ | async)}"
             mat-icon-button (click)="drawer.toggle()" >
              <mat-icon>menu</mat-icon>
            </button>
            <span>BMC-ONLINE</span>
            <mat-nav-list class="list-horizontal" [ngClass]= "{'hidden': (isHandset$ | async)}">
                <mat-list-item>
                  <a routerLink="">Home</a>
                </mat-list-item>
                <mat-list-item>
                  <a routerLink="/demo">Demo</a>
                </mat-list-item>
                <mat-list-item>
                  <a routerLink="/dashboard">Dashboard</a>
                </mat-list-item>
            </mat-nav-list>
          </mat-toolbar-row>
        </mat-toolbar>

        <h1>Welcome</h1>
  </div>
</mat-drawer-container>
